{% extends 'base.html' %}

{% block contenido %}
    <div class="entity_wrapper">
        <div class="entity_title">
            <h1>{{pagina.titulo}}</h1>
        </div>
        <!-- entity_title -->
        <div class="entity_meta">
            <!--<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>-->
            <a href="#">{{pagina.fecha}}</a>, by: <a href="#">{{pagina.autor}}</a>
        </div>
        <!-- entity_meta -->
        <div class="rating">
            {% for y in '12345'|make_list %}    <!-- pagina.valoracion = pagina.puntaje / pagina.votos-->
                {% if forloop.counter <=  pagina.valoracion %}
                <i class="fa fa-star"></i>
                {% else %}
                <i class="fa fa-star-o"></i>
                {% endif %}
            {% endfor %}
            
        </div>
        <!-- rating -->
        {% if pagina.imagen %}
            <div class="entity_thumb">
                <img class="img-responsive" src="{{ pagina.imagen.url }}" alt="{{ pagina.imagen_epigrafe}}">
            </div>
            <!-- entity_thumb -->
        {% endif %}
        <div class="entity_content">
            <p>{{pagina.copete}}</p>
        </div>
        <div class="entity_content">
            <p>{{pagina.cuerpo |safe }}</p>
        </div>
        <!-- entity_content -->
    </div>
    <!-- entity_wrapper -->
{% endblock %}