{% extends 'base.html' %}

{% block contenido %}


<h3>Alejo es un Ingeniero Agrónomo que desde los comienzos de su profesión se interesó en el area de programación, fue por eso que apenas terminó su carrera comenzó a trabajar en Agrositio, lugar que dirige actualmente junto a un grupo de socios. 
El incentivo que tuvo para realizar este curso fue su deseo de seguir incrementando sus conocimientos para futuros desafíos.<br><br>

Arturo por otra parte, es un desarrollador independiente residiendo en Mexico. Él, mientras disfruta de la playa programa mayormente en Delfi y en C desde hace más de 30 años. Pero no solo eso, también posee gran entendimiento de Fortran y Cobol.
El estimulo de Arturo fue mantenerse actualizado con las diferentes herramientas que se utilizan en el mercado.<br><br>

Y yo, Brian, trabajo actualmente en una multinacional en el area de redes, hice varios cursos y certificaciones con lo que respecta al networking pero hoy en día,  todas las herramientas que utilizamos se están automatizando y python es el lenguaje mas utilizado para dicha tarea.</h3>

<h3>Tech Yes! es un pagina web joven creada por tres entusiastas de la programación. El sitio está basado en un backend the python y framework de django y cuyo propósito es poder representar en una base practica los contenidos transmitidos a través de las lecciones de CoderHouse.</h3>
<h3>Confiamos en que lo observado en el sitio pueda satisfacer sus expectativas!</h3>
<h3>Agradecemos especialmente a Luca Citta Giordano y a Ramiro Peidro por su asistencia en el proyecto.</h3>
<h3>El sitio puede verse funcional haciendo clic en el siguiente link: <a href="http://django.agrositio.com/" target="_blank">LINK</a></h3>
<h3>Muchas Gracias.</h3>

{% endblock %}