{% extends 'base_backoffice.html' %}
{% block contenido %}
<table width="100%" class="table-bordered">
<tr style="background-color: black; color: white;">
    <td></td>
    <td>Correo</td>
    <td>Nombre completo</td>
    <td>Bio</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
{% for user in users %}
<tr>
        <td>
            {% if user.profile_pic %}
                <img src="{{user.profile_pic.url}}" class="card-img-top" height="60" width='60' alt="" loading="lazy" >
            {% endif %}
        </td>
        <td>
            {{user.email}}
        </td>
        <td>
            {{user.first_name}} {{user.last_name}}
        </td>
        <td>
            {{user.bio}}
        </td>
        <td style="background-color: black; color: white; text-align: center;">
            <a href={{user.get_absolute_url}} style="color: white;" >Ver mas!</a>
        </td>    
        <td style="background-color: #55694e; color: #FFFFFF; text-align: center;">
            <a href="/edit/{{user.slug}}" style="color: #FFFFFF;" >EDITAR</a>
        </td> 
        <td style="background-color: #4d1e23; color: white; text-align: center;">
            <a href="/borrar/{{user.slug}}" style="color: #FFFFFF;">ELIMINAR</a>
        </td>                 
</tr>
{% endfor %}
</table>
{% endblock %}